<div id="project-section" class="container">
    <div class="project-title-section col-md-6 col-sm-6 col-xs-12">
        <span class="project-title">{{ page.title }}</span>
        <span class="project-type">{{ page.type }}</span>
        <a href="http://{{ page.work-link }}" target="_blank">{{ page.work-link }}</a>
    </div>
    <div class="project-client-section col-md-6 col-sm-6">
        <ul class="project-info-container">
            {% for projectInfo in page.work-info %}
            <li class="project-info-item">
                <span class="project-info-type">{{ projectInfo.type }}</span>
                {% for projectName in projectInfo.work-contributor %}
                <span class="project-info-name">{{ projectName.name }}</span>
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>