@font-face
  font-family: Bebas
  src: url(/fonts/BebasNeue.otf)

@font-face
  font-family: Montserrat-Regular
  src: url(/fonts/montserrat/Montserrat-Regular.otf)

@font-face
  font-family: Montserrat-Light
  src: url(/fonts/montserrat/Montserrat-Light.otf)

@font-face
  font-family: HenchgirlComic
  src: url(/fonts/HenchgirlComicFont.ttf)

@font-face
  font-family: Gotham-Light
  src: url(/fonts/Gotham-Light.otf)

@font-face
  font-family: Gotham-Bold
  src: url(/fonts/Gotham-Bold.otf)

@font-face
  font-family: Gotham-Black
  src: url(/fonts/Gotham-Black.otf)

@font-face
  font-family: Gotham-Medium
  src: url(/fonts/Gotham-Medium.otf)




